################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.dll
/InAndOut/InAndOut/bin/Debug/net5.0
/InAndOut/InAndOut/obj
/InAndOut/InAndOut/bin/Release/net5.0
/NetCoreProjects/CoreApi/obj/Release/net5.0
/NetCoreProjects/CoreApi/obj/Debug/net5.0
/NetCoreProjects/LibraryClass/obj/Release/net5.0
/NetCoreProjects/LibraryClass/obj/Debug/net5.0
/NetCoreProjects/NetCoreProjects/obj/Release/net5.0
/NetCoreProjects/NetCoreProjects/obj/Debug/net5.0
/NetCoreProjects/RazorPagesMovie/obj/Release/net5.0
/NetCoreProjects/RazorPagesMovie/obj/Debug/net5.0
/WebApi/obj
/WebApi/bin
/MiDieta/MiDietaApp/MiDietaApp/MiDietaApp/obj
/MiDieta/MiDietaApp/MiDietaApp/MiDietaApp/bin
/MiDieta/MiDietaApp/MiDietaApp/MiDietaApp.iOS/obj
/MiDieta/MiDietaApp/MiDietaApp/MiDietaApp.iOS/bin
/MiDieta/MiDietaApp/MiDietaApp/MiDietaApp.Android/obj
/MiDieta/MiDietaApp/MiDietaApp/MiDietaApp.Android/bin
/MiDieta/MiDietaApp/MiDietaApi/obj
/MiDieta/MiDietaApp/MiDietaApi/bin
/MiDieta/MiDietaApp/MiDieta/obj
/MiDieta/MiDietaApp/MiDieta/bin
/MiDieta/MiDietaApp/Logic/obj
/MiDieta/MiDietaApp/Logic/bin
/MiDieta/MiDietaApp/DietLibrary/obj
/MiDieta/MiDietaApp/DietLibrary/bin
