################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.dll
/InAndOut/InAndOut/bin/Debug/net5.0
/InAndOut/InAndOut/obj
/InAndOut/InAndOut/bin/Release/net5.0
