################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.dll
/InAndOut/InAndOut/bin/Debug/net5.0
/InAndOut/InAndOut/obj
/InAndOut/InAndOut/bin/Release/net5.0
/NetCoreProjects/CoreApi/obj/Release/net5.0
/NetCoreProjects/CoreApi/obj/Debug/net5.0
/NetCoreProjects/LibraryClass/obj/Release/net5.0
/NetCoreProjects/LibraryClass/obj/Debug/net5.0
/NetCoreProjects/NetCoreProjects/obj/Release/net5.0
/NetCoreProjects/NetCoreProjects/obj/Debug/net5.0
/NetCoreProjects/RazorPagesMovie/obj/Release/net5.0
/NetCoreProjects/RazorPagesMovie/obj/Debug/net5.0
/WebApi/obj
/WebApi/bin
